USE [master]
GO
/****** Object:  Database [網頁整合DB]    Script Date: 2022/3/2 下午 09:59:59 ******/
CREATE DATABASE [網頁整合DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'網頁整合DB', FILENAME = N'D:\DB\網頁整合DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'網頁整合DB_log', FILENAME = N'D:\DB\網頁整合DB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [網頁整合DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [網頁整合DB]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 2022/3/2 下午 09:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EducationID] [tinyint] NOT NULL,
	[Education] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Education] PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProgrammingLanguage]    Script Date: 2022/3/2 下午 09:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProgrammingLanguage](
	[PLID] [tinyint] NOT NULL,
	[language] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ProgrammingLanguage] PRIMARY KEY CLUSTERED 
(
	[PLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 2022/3/2 下午 09:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[SexID] [bit] NOT NULL,
	[Sex] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[SexID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2022/3/2 下午 09:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[SexID] [bit] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Account] [varchar](20) NOT NULL,
	[PassWord] [char](32) NOT NULL,
	[RoleID] [tinyint] NOT NULL,
	[EducationID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_account] UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPermission]    Script Date: 2022/3/2 下午 09:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [tinyint] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPL]    Script Date: 2022/3/2 下午 09:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPL](
	[UserID] [int] NOT NULL,
	[PLID] [tinyint] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_EducationID] FOREIGN KEY([EducationID])
REFERENCES [dbo].[Education] ([EducationID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_EducationID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_RoleID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_SexID] FOREIGN KEY([SexID])
REFERENCES [dbo].[Sex] ([SexID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_SexID]
GO
ALTER TABLE [dbo].[UserPL]  WITH CHECK ADD  CONSTRAINT [FK_UserID_PLID] FOREIGN KEY([PLID])
REFERENCES [dbo].[ProgrammingLanguage] ([PLID])
GO
ALTER TABLE [dbo].[UserPL] CHECK CONSTRAINT [FK_UserID_PLID]
GO
ALTER TABLE [dbo].[UserPL]  WITH CHECK ADD  CONSTRAINT [FK_UserPL_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserPL] CHECK CONSTRAINT [FK_UserPL_UserID]
GO
USE [master]
GO

insert into [網頁整合DB].[dbo].[Education]
values(1,'國民小學'),(2,'國民中學'),(3,'高級中等學校'),(4,'五專'),(5,'大學'),(6,'碩士'),(7,'博士')
GO
insert into [網頁整合DB].[dbo].[ProgrammingLanguage]
values(1,'C#'),(2,'VBA'),(3,'PHP'),(4,'JS'),(5,'GO')
GO
insert into [網頁整合DB].[dbo].[Sex]
values(0,'男'),(1,'女')
GO
insert into [網頁整合DB].[dbo].[Role]
values(1,'一般'),(2,'高級')